# Compiled python files
*.py[co]
__pycache__/

# setup.py egg_info
*.egg-info

# emacs backup files
*~

# hg stuff
*.orig
status

# odoo filestore
odoo/filestore

# maintenance migration scripts
odoo/addons/base/maintenance

# window installation config file
/odoo.conf

# generated for windows installer?
install/win32/*.bat
install/win32/meta.py

# needed only when building for win32
setup/win32/static/less/
setup/win32/static/wkhtmltopdf/
setup/win32/static/postgresql*.exe

# js tooling
node_modules
jsconfig.json
tsconfig.json
package-lock.json
package.json
.husky

# various virtualenv
/bin/
/build/
/dist/
/include/
/lib/
/man/
/share/
/src/
/venv/
/venv39/
/venv39
venv39/
/ENV/
/env/
.venv/
.venv39/

# IDEs
.idea/
.vscode/
.spyderproject
.spyproject

# mypy, pytest, tox
.mypy_cache/
.pytest_cache/
.tox/
.nox/

# Jupyter notebooks
.ipynb_checkpoints/

# coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# type checkers
.pytype/
.pyre/

# Cython debug symbols
cython_debug/

# pip
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.spec

# env files
.env

# Cursor (AI IDE)
.cursorignore
.cursorindexingignore

# Abstra
.abstra/

# log
odoo.log
